<div class="container">
   

    <img src="/Asset/1.jpg" alt="Me" width="200" height="200" >
   <div>Hello! I'm hongseok kim from South kore.
        I like to go treavel and learn another counrties culture.
    My dream is react and node developer. 
   </div>
  <a href="/Asset/resume.pdf" style="list-style: none;">It is my Resume</a>.
</div>