<h1>This is my <%= page%></h1>

<form>      
    <input name="name" type="text" class="feedback-input" placeholder="Name" style="color: black;" />   
    <input name="email" type="text" class="feedback-input" placeholder="Email" style="color: black; "/>
    <textarea name="text" class="feedback-input" placeholder="Comment" style="color: black; "></textarea>
    <button class="btn">

        <input type="submit" value="SUBMIT" onclick='newPage()'/>
    </button>
  </form>