<div class="container pt-3">

    <h1>This is my <%= page%> Page</h1>
    <h2> <%= contact %></h2>
    
    <form>      
        <input name="name" type="text" class="feedback-input" placeholder="Name" style="color: black;" />   
        <input name="email" type="text" class="feedback-input" placeholder="Email" style="color: black; "/>
        <textarea name="text" class="feedback-input" placeholder="Comment" style="color: black; "></textarea>
        <button class="btn">
            
            <input type="submit" value="SUBMIT" onclick='newPage()'/>
        </button>
    </form>
</div>