<div class="container pt-3">

    <h1>Welcom to my <%= page %> Page</h1>
    <h2> <%= intro %></h2>
    <div>
       I am dreaming web developer
    </div>
    <a class="btn btn-primary" href="/about" role="button">About me!</a>
</div>