<div class="container">
  


    <div class="card">
        <img src="/Asset/pro1.png" alt="project1" style="width:100%">
        <div class="container">
            <h4><b>Realter web</b></h4> 
            <p>React & Node</p> 
        </div>
    </div>
    <div class="card">
        <img src="/Asset/pro2.png" alt="project1" style="width:100%">
        <div class="container">
            <h4><b>Weather web</b></h4> 
            <p>JavaScript</p> 
        </div>
    </div>
    <div class="card">
        <img src="/Asset/pro3.png" alt="project1" style="width:100%">
        <div class="container">
            <h4><b>Book web</b></h4> 
            <p>React & Node</p> 
        </div>
    </div>

    
</div>