<div class="container pt-3">
  


    <div class="card">
        <img src="/Asset/pro1.png" alt="project1" style="width:100%">
        <div class="container">
            <h4><b>Realter web</b></h4> 
            <p>React & Node</p> 
            <p>Used React and NodeJs. This is Realter web application</p>
        </div>
    </div>
    <div class="card">
        <img src="/Asset/pro2.png" alt="project1" style="width:100%">
        <div class="container">
            <h4><b>Weather web</b></h4> 
            <p>JavaScript</p> 
            <p>Used vanila JavaScript. This is Weather web application</p>
        </div>
    </div>
    <div class="card">
        <img src="/Asset/pro3.png" alt="project1" style="width:100%">
        <div class="container">
            <h4><b>Book web</b></h4> 
            <p>React & Node</p> 
            <p>Used React and NodeJs. This is Book search web application</p>
        </div>
    </div>

    
</div>