<div class="container pt-3">
 <Ul class="logoImg">
     <li><img src="/Asset/html.png" alt="html"></li>
     <li><img src="/Asset/css.png" alt="css"></li>
     <li><img src="/Asset/js.png" alt="js"></li>
     <li><img src="/Asset/react.png" alt="react"></li>
     <li><img src="/Asset/node.png" alt="node"></li>
     <li><img src="/Asset/c.png" alt="c"></li>
     <li><img src="/Asset/java.png" alt="java"></li>
 </Ul>

</div>

<div>
 
</div>