<div class="container">
 <Ul class="logoImg">
     <li><img src="/Asset/html.png" alt="html"></li>
     <li><img src="/Asset/css.png" alt="html"></li>
     <li><img src="/Asset/js.png" alt="html"></li>
     <li><img src="/Asset/react.png" alt="html"></li>
     <li><img src="/Asset/node.png" alt="html"></li>
     <li><img src="/Asset/c.png" alt="html"></li>
     <li><img src="/Asset/java.png" alt="html"></li>
 </Ul>

</div>

<div>
  transform effect
</div>